.section__container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; */
}

.card__container {
  background-color: #fff;
  height: 480px;
  width: 350px;
  margin-bottom: 30px;
}
.card__container:hover {
  cursor: pointer;
}
.card__image {
}

.img {
  width: 350px;
  height: 300px;
}
.card__summary__box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__summary__title {
  text-transform: capitalize;
  font-size: 25px;
  color: #000000a6;
  margin-bottom: 5px;
}
.card__summary_heading {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #ff0000d1;
}

.card__button {
  font-size: 15px;
  padding: 4px 20px;
  text-transform: capitalize;
}

.card__button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
