.login__container {
  width: 400px;
  background-color: #eee;
  height: 75vh;
  border-radius: 15px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 30%);
}
.login__logo {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}
.login__title {
  font-size: 35px;
  font-weight: 300;
  text-transform: capitalize;
  color: #080808ab;
}
.form__container {
}
.username__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.username {
  font-size: 19px;
  font-weight: 300;
  color: #000000bd;
  margin-bottom: 9px;
  margin-left: -115px;
  text-transform: capitalize;
  color: #000000ab;
}

.username__input__box {
  display: flex;
  align-items: baseline;
}
.username__fareguser {
  font-size: 15px;
  font-weight: 300;
  color: #000000b0;
  margin-right: 11px;
}
.username__input {
  width: 300px;
  font-size: 17px;
  text-transform: capitalize;
  padding: 10px 13px;
  border: none;
  box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
  margin-bottom: 30px;
  border-radius: 100px;
}
.username__input:focus {
  outline: none;
  border-bottom: 2px solid rgb(209, 175, 175);
}
.forget__box {
  font-size: 13px;
  font-weight: 300;
  color: #0000006b;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
  margin-top: -11px;
}
.form__btn__box {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 25px;
  text-transform: capitalize;
  background-image: linear-gradient(to right bottom, #679cec, #d70ce6);
  font-weight: 300;
  color: #fff;
  border: none;
  width: 250px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(to right bottom, #679ceca4, #d70ce6b0);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.sign__login {
  text-align: center;
  margin-top: 35px;
}
.sign__title {
  font-size: 13px;
  text-transform: capitalize;
  color: #000000a6;
  font-weight: 300;
}
.social__media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}
.facebook {
}
.github {
}
.instagram {
}
