.app__container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  margin-top: 90px;
}
.heading__main {
  background-color: #fff;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading__title {
  text-transform: capitalize;
  font-size: 35px;
  color: #0000009c;
}
.input__box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.input__search {
  padding: 3px 5px;
}
.input__search:focus {
  outline: none;
}
